
    <div class="row" style=" background-color: black; color: whitesmoke">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 topbottommargin">
            <h5>
            <span>CONTACT</span>
            </h5>
            <p>Phone: +91 8895737640</p>
            <p>Email: <a href="#">ayushrout45@gmail.com</a></p>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 topbottommargin">
            <h5>
                <span>Follow Me</span>
            </h5>
            <a href="#"><i class="fa fa-facebook-square" style="font-size:24px;color:#2064d6"></i></a>
            <a href="#"><i class="fa fa-instagram" style="font-size:24px;color:#f04a4a"></i></a>
            <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
            <a href="#"><i class="fa fa-youtube-play" style="font-size:24px;color:#df2929"></i></a>
        </div>
        <div class="copyright_margintop_with_align" style="margin-bottom: 50px;">
            <p>© Copyright 2019 Ayush Guitar Tabs.</p>
        </div>
    </div>
    

