

/* .flex-container{
    display: flex;
    justify-content: space-between;
} */
/* mat-grid-tile{
    background-color: white;
    border-radius: 10px;
}

mat-grid-tile div img{
    margin: 15px;
    height: 200px;
    width: 90%;
    border-radius: 7px;
}

#grid{
    margin-top: 50px;
}

.example-card {
    max-width: 400px;
  }


.grey{
    background-color:grey;
} */

