mat-sidenav-container{
  color: #bfbfbf;
  height: 100%;
  background: transparent;
}

mat-sidenav,mat-sidenav-content{
  padding: 16px;
}

mat-sidenav{
  margin-top: 70px;
  color: #bfbfbf;
  /* background-color:grey; */
  background-color: rgba(0,0,0,0.2); 
  width: 300px;
}

mat-toolbar{
  color: #bfbfbf;
  background-color: rgba(0,0,0,0.4);  
}

.router-link-active{
  color: white !important;
}

a{
  text-decoration: none;
}

.grey-color{
  color: #bfbfbf;
  outline: none;
  border: 0;
}

a:hover{
  color: white;
}

.menu-spacer {
  flex: 1 1 auto;
} 

.searchItem{
  background: transparent;
  border: none;
  border-bottom: 1px solid #bfbfbf; 
  outline: none;
  color: #bfbfbf;
  height: 20px;
}

#side_search{
  margin-left: 5%;
  width: 60%;
  margin-bottom: 2%;
}


.content {
  margin-top: 5%;
}


.scroll-area{
  width:100%;
  height:calc(100%);
  margin-top:70px;
  background: inherit;
  /* float:left; */
  overflow-y:scroll;
}